body{
    background-color: rgb(4, 164, 238);
}

canvas{
    border: 4px solid rgb(228, 210, 225);
    margin: 0 auto;
    display: block;
    border-bottom: transparent;
    background-image: url("https://media.istockphoto.com/id/1333010525/es/vector/ilustraci%C3%B3n-simple-de-pixel-art-plano-de-fondo-de-paisaje-al-aire-libre-de-dibujos-animados.jpg?s=612x612&w=0&k=20&c=vTVAVSCa_hAV8k0CIy3T5z27FtvL-RRA4DW1Sw1ARxA=");
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(188, 230, 238);
}